# **Data Wrangling**

## Objectives

-   Identifying duplicate values in the dataset.

-   Removing duplicate values from the dataset.

-   Identifying missing values in the dataset.

-   Imputing (replacing) the missing values in the dataset.

-   Normalizing data in the dataset.

<hr>

Importing pandas module.

In [15]:
import pandas as pd

Loading the dataset into a dataframe.

In [16]:
df = pd.read_csv("m1_survey_data.csv")

## Finding duplicates

 Finding how many duplicate rows exist in the dataframe.

In [17]:

df.duplicated().sum()

154

## Removing duplicates

Removing the duplicate rows from the dataframe.

In [18]:

df.drop_duplicates(inplace=True)

Verifying if duplicates were actually dropped.

In [19]:

df.duplicated().sum()

0

## Finding Missing values

Finding the missing values for all columns.

In [20]:

df.isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Finding out how many rows are missing in the column 'WorkLoc'.

In [21]:

df['WorkLoc'].isna().sum()

32

## Imputing missing values

Finding the  value counts for the column 'WorkLoc'.

In [22]:

df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identifying the value that is most frequent (majority) in the 'WorkLoc' column.

In [23]:

most_frequent = 'Office'

Imputing (replacing) all the empty rows in the column 'WorkLoc' with the value above.

In [24]:

df['WorkLoc'].fillna(most_frequent, inplace=True)

Verifying if imputing was successful.

In [25]:

df['WorkLoc'].value_counts()

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

## Normalizing data

<hr>

Listing out the various categories in the column 'CompFreq'

In [26]:

df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Creating a new column named 'NormalizedAnnualCompensation'.

In [27]:

df['NormalizedAnnualCompensation'] = df.apply(lambda x: x['CompTotal'] if (x['CompFreq']=='Yearly') 
                                              else (x['CompTotal']*12) if (x['CompFreq']=='Monthly') 
                                              else (x['CompTotal']*52), axis=1)

In [28]:
df['NormalizedAnnualCompensation'].median()

100000.0

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).